<%= form_with(model: enterprise_type, local: true) do |form| %>
  <% if enterprise_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(enterprise_type.errors.count, "error") %> prohibited this enterprise_type from being saved:</h2>

      <ul>
      <% enterprise_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :enterprise_type_code %>
    <%= form.number_field :enterprise_type_code, id: :enterprise_type_enterprise_type_code %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :enterprise_type_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
