<p id="notice"><%= notice %></p>

<h1>Enterprise Types</h1>

<table>
  <thead>
    <tr>
      <th>Enterprise type code</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @enterprise_types.each do |enterprise_type| %>
      <tr>
        <td><%= enterprise_type.enterprise_type_code %></td>
        <td><%= enterprise_type.name %></td>
        <td><%= link_to 'Show', enterprise_type %></td>
        <td><%= link_to 'Edit', edit_enterprise_type_path(enterprise_type) %></td>
        <td><%= link_to 'Destroy', enterprise_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Enterprise Type', new_enterprise_type_path %>
