<p id="notice"><%= notice %></p>

<p>
  <strong>Enterprise type code:</strong>
  <%= @enterprise_type.enterprise_type_code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @enterprise_type.name %>
</p>

<%= link_to 'Edit', edit_enterprise_type_path(@enterprise_type) %> |
<%= link_to 'Back', enterprise_types_path %>
