<!DOCTYPE html>
<html>
  <head>
    <title>Solucao</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <% if current_user != nil %>
      <%=link_to "logout", logout_path, :method => :delete, :confirm => "Are you sure?"%>
    <% end %>
  </body>
</html>
