<%= form_with(model: enterprise, local: true) do |form| %>
  <% if enterprise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(enterprise.errors.count, "error") %> prohibited this enterprise from being saved:</h2>

      <ul>
      <% enterprise.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :enterprise_name %>
  </div>

  <div class="field">
    <%= form.label :enterprise_type_id %>
    <%= form.select :enterprise_type_id, EnterpriseType.all.collect {|p| [ p.name, p.enterprise_type_code ] }, {include_blank: 'Undefined'}%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
