<h1>Register</h1>

<%= form_for @user do |f| %>
  <div>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <%= f.submit %>
<% end %>

<%= link_to 'Log In', new_session_path %>
